extends admin

block details
    .row
        .features_items
            if categories
                each category in categories
                    .row
                        .col-sm-3
                            .product-image-wrapper
                                .single-products
                                    .productinfo.text-center
                                        img(src='/img/categories/' + category.Image, alt=category.CategoryName)
                        .col-sm-6
                                h2.cat=category.CategoryName
                                p=category.Description
                        .col-sm-3
                                form.dev-form(action='/admin/cat/' + category.CategoryID + '/edit', method='GET')
                                    button.btn.btn-default(type='submit')
                                        i.fa.fa-edit
                                        = ' Edit'

                                form.dev-form(action='/admin/cat/' + category.CategoryID + '/delete', method='POST')
                                    button.btn.btn-default(type='submit')
                                        i.fa.fa-trash-o
                                        = ' Delete'
        form(action='/admin/cat/add', method='GET')
            button.btn.btn-default(type='submit')
                i.fa.fa-plus
                = ' Add new category'
        br
        br
