extends admin

block details
    .table-responsive
        table.table.table-condensed
            thead
                tr
                    td #
                    td Fullname
                    td Email
                    td Username
                    td Admin
                    td
            tbody
                each customer in customers
                    tr
                        td= customer.UserID
                        td= customer.FullName
                        td= customer.Email
                        td= customer.Username
                        td
                            - var admin = 'Yes'
                            if customer.Admin == 0
                                - admin = 'No'
                            = admin
                        //td
                            a.btn.btn-default(href='/admin/customers/' + customer.UserID)
                                i.fa.fa-eye
                                = ' View'
                        td
                            if customer.Admin == 0
                                form.dev-form(action='/admin/customers/' + customer.UserID + '/makeAdmin', method='POST')
                                    button.cus-btn.btn.btn-default(type='submit')
                                        i.fa.fa-unlock
                                        = ' Make Admin'
                            else
                                form.dev-form(action='/admin/customers/' + customer.UserID + '/removeAdmin', method='POST')
                                    button.cus-btn.btn.btn-default(type='submit')
                                        i.fa.fa-lock
                                        = ' Remove Admin'
                        td
                            form.dev-form(action='/admin/customers/' + customer.UserID + '/delete', method='POST')
                                button.cus-btn.btn.btn-default(type='submit')
                                    i.fa.fa-trash-o
                                    = ' Delete'