extends admin

block details
    .row
        .features_items
            if products
                each product in products
                    .row
                        .col-sm-3
                            .product-image-wrapper
                                .single-products
                                    .productinfo.text-center
                                        img(src='/img/products/' + product.Image, alt=product.ProductName)
                        .col-sm-6
                            h2= product.ProductName

                            p
                                b Category:
                                = ' ' + product.CategoryName

                            p= product.ProductDescription

                            p
                                b Quantity:
                                = ' ' + (product.UnitsInStock - product.UnitsOnOrder)
                            p
                                b Manufacturing year:
                                = ' ' + product.ManufactureYear
                            p
                                b Brand:
                                |  aStore

                            p
                                b Price:
                                = ' € ' + product.ProductPrice

                            - var feature = 'Yes'
                            if (product.Feature == 0)
                                - feature = 'No'
                            p
                                b Featured Product:
                                = ' ' + feature



                        .col-sm-3
                            form(action='/admin/products/' + product.ProductID + '/edit', method='GET')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-edit
                                    | Edit

                            form(action='/admin/products/' + product.ProductID + '/delete', method='POST')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-trash-o
                                    | Delete
    form(action='/admin/products/add', method='GET')
        button.btn.btn-default(type='submit')
            i.fa.fa-plus
            | Add new category