extends info

block details
    form(id='changePassword', action='/usr/' + customer.Username + '/change-password', method='POST')
        label(for='current-password') Current Password
        input(type='password', id='current-password', name='currentPassword', placeholder='Password to confirm changes' required=true)
        br
        label(for='new-password') New Password
        input(type='password', id='new-password', name='newPassword', placeholder='New Password' required=true)
        br
        label(for='confirm-password') Confirm New Password
        input(type='password', id='confirm-password', name='repeatPassword', placeholder='Repeat New Password' required=true)
        br
        button.btn.btn-default(type='submit') Change Password