extends layout

block content
    section
        .container
            .row
                //category_products
                .features_items
                    h2.title.text-center
                        = title
                    if products
                        each product in products
                            - var productUrl = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                            .col-sm-3
                                .product-image-wrapper
                                    .single-products
                                        .productinfo.text-center
                                            a(href=productUrl)
                                                img(src='/img/products/' + product.Image, alt=product.ProductName)
                                            h2= '€' + product.ProductPrice
                                            p
                                                a(href=productUrl)=product.ProductName
                                            form(action='/cart/' + product.ProductID, method='POST')
                                                button.btn.btn-default.add-to-cart(type='submit')
                                                    i.fa.fa-shopping-cart
                                                    | Add to cart
                ///category_products