extends layout

block content
    section
        .container
            .row
                //.col-sm-3
                //    .left-sidebar
                //        h2 Categories
                //        //category-products
                //        #accordian.panel-group.category-products
                //            if categories
                //                each category in categories
                //                    .panel.panel-default
                //                        .panel-heading
                //                            h4.panel-title
                //                                a(href='/categories/' + category.CategorySlug)= category.CategoryName
                //        ///category-products
                //.col-sm-9.padding-right
                //features_items
                .features_items
                        h2.title.text-center Featured Products
                        if featProducts
                            each product in featProducts
                                - var productUrl = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                                .col-sm-3
                                    .product-image-wrapper
                                        .single-products
                                            .productinfo.text-center
                                                a(href=productUrl)
                                                    img(src='/img/products/' + product.Image, alt=product.ProductName)
                                                p
                                                    a(href=productUrl)=product.ProductName
                                                h2= '€' + product.ProductPrice
                                                form(action='/cart/' + product.ProductID + '/add', method='POST')
                                                    button.btn.btn-default.add-to-cart(type='submit')
                                                        i.fa.fa-shopping-cart
                                                        | Add to cart
                    ///features_items